/*start of general and light mode css rules*/

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    flex: 1 0 60%;
    margin-left: 10vh;
    margin-bottom: 12vh;
}

button {
    padding: 0px;
}

.neutral {
    background-color: aliceblue;
}

.right {
    background-color: greenyellow;
}

.wrong {
    background-color: crimson;
}

.header  {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

.night-mode img {
    height: 37px;
    width: 37px;
    margin-right: 15px;
}

.score {
    display: flex;
    justify-content: space-evenly;
    margin: 0 15vh 0 15vh;
    margin-bottom: 4vh;
}

.human {
    font-size: 30px;
    font-weight: 900;
}

.computer {
    font-size: 30px;
    font-weight: 900;
}

.info {
    flex: 0 1 40vh;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 2vh 0 2vh;
}

.content {
    margin: 0 9vh 0 9vh;
}

.game-area {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3vh;
    padding: 3vh 2vh 3vh 2vh;
}

.game-area button {
    border-radius: 2vh;
    border: 10px solid black;
}

.buttons :active {
    background-color: gainsboro;
}

.game-area img {
    border-radius: 2vh;
    height: 25vh;
    width: 25vh;
}

.reset {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
}

.reset-button :active {
    background-color: gainsboro;
}

.reset-button img {
    height: 50px;
    width: 50px;
}

.link-button img {
    height: 37px;
    length: 37px;
}

.footer {
    display: flex;
    position: absolute;
    bottom: 0;
}
/* Start of night mode css rules*/